*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.padre{
    border: 10px solid black;
    width: 400px;
    height: 200px;
}

.hijo{
    width:100%;
    border:10px solid saddlebrown;
    padding: 30px 15px;
    box-sizing: border-box;
}